  <!-- Buttons outside the container and PDF area -->
  {% if not is_pdf %}
  <div style="text-align: center; margin-top: 30px;">
    <a href="{% url 'index' %}" class="button">Generate Another Circular</a>

    <form method="post" action="{% url 'send_email' %}" style="display: inline-block;">
      {% csrf_token %}
      <input type="hidden" name="pdf_filename" value="{{ pdf_filename }}">
      <input type="hidden" name="recipient_email" value="{{ recipient_email }}">
      <input type="hidden" name="subject" value="{{ subject }}">
      <button type="submit" class="button">Send Circular via Email</button>
    </form>
  </div>
{% endif %}